<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{title}}</h3></div>
  <div class="panel-body">
    <!-- <md-input-container>
      <input mdInput placeholder="Product">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Current Qty">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Threshold">
    </md-input-container> -->

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Product</mat-label>
        <input matInput placeholder="Product">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Current Qty</mat-label>
        <input matInput placeholder="Current Qty">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Threshold</mat-label>
        <input matInput placeholder="Threshold">
      </mat-form-field>
    </form>


    <button type="button" class="btn btn-success pull-right">Submit</button>
  </div>
</div>
